/* FONDO COMPLETO */
.contact-container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3C096C;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 20px;
}

/* CAJA CENTRAL */
.contact-box {
  width: 380px;
  background: rgba(0, 0, 0, 0.55);
  padding: 25px;
  border-radius: 14px;
  text-align: center;
  color: white;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
}

/* TÍTULO */
.contact-box h2 {
  margin-bottom: 20px;
  font-size: 26px;
  color: #bb86fc;
}

/* INPUTS Y TEXTAREA */
.contact-box input,
.contact-box textarea {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 10px;
  border: none;
  font-size: 15px;
  background: rgba(255, 255, 255, 0.9);
  outline: none;
}

/* TEXTAREA */
.contact-box textarea {
  min-height: 120px;
  resize: none;
}

/* BOTÓN */
.contact-box button {
  width: 100%;
  background: #bb86fc;
  padding: 12px;
  border: none;
  border-radius: 15px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  transition: 0.2s;
}

.contact-box button:hover {
  background: #9b63e8;
}
