.navbar {
  width: 100%;
  padding: 15px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  z-index: 1000;

  background: rgba(10, 10, 35, 0.473);
  backdrop-filter: blur(6px);
  border-bottom: 1px solid rgba(0, 0, 0, 0);

  transition: background 0.3s ease;
}


